{% extends "HaiiIgisBundle::Igis/layout.html.twig" %}

{% block nav %}
	<dl class="sub-nav">
	  <dt>Filter:</dt>
	  <dd class="active"><a href="#">All</a></dd>
	  <dd><a href="#">Active</a></dd>
	  <dd><a href="#">Pending</a></dd>
	  <dd><a href="#">Suspended</a></dd>
	</dl>
{% endblock %}

{% block content %}
    <h1>Side Nav</h1>
        <h4 class="subheader">
            Side nav, like you'll see on Foundation's main site, is useful for sections of either a site or a page.
        </h4>
{% endblock %}