{% extends "HaiiIgisBundle::Igis/base.html.twig" %}

{% block body %}
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="{{ path('igis_homepage') }}">BackOffice</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="/grid.php">Features</a></li>
          <li class="divider"></li>
          <li><a href="/templates.php">Add-ons</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('add_userform') }}">Add User</a></li>
          <li class="divider"></li>
          <li><a href="/docs/">Docs</a></li>
          <li class="divider"></li>
          <li class="has-form">
            <a href="http://foundation.zurb.com/docs" class="button">Log Out</a>
          </li>
        </ul>
      </section>
    </nav>
    
    <div class="row">
      <div class="large-12 columns">
        <h1 class="docs header"><a href="{{ path('igis_homepage') }}">Backoffice:IGIS</a></h1>
        <!-- <h6 class="docs subheader"><a href="http://foundation.zurb.com/old-docs/f3">Want F3 Docs?</a></h6> -->
        <hr>
      </div>
    </div>
  
  <div class="row">
  <div class="large-9 push-3 columns">

    <div class="row">
      <div class="large-12 columns">
		  {% block nav %}{% endblock %}
          {% block content %}{% endblock %}
      </div>
    </div>
   </div>
   
  <div class="large-3 pull-9 columns">
  <div class="docs section-container accordion" data-section data-options="deep_linking: false">
  <section class="section active">
    <p class="title"><a href="#">Using Foundation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="../">Get Started</a></li>
        <li><a href="../javascript.html">Javascript</a></li>
        <li><a href="../sass.html">Sass</a></li>
        <li><a href="../rails.html">Rails</a></li>
        <li><a href="../media-queries.html">Media Queries</a></li>
        <li><a class="" href="visibility.html">Visibility Classes</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Grid</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="grid.html">Grid</a></li>
        <li><a class="" href="block-grid.html">Block Grid</a></li>
      </ul>
    </div>
  </section>
  <section class="section">
    <p class="title"><a href="#">Navigation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="pagination.html">Pagination</a></li>
        <li><a class="active" href="side-nav.html">Side Nav</a></li>
        <li><a class="" href="sub-nav.html">Sub Nav</a></li>
        <li><a class="" href="top-bar.html">Top Bar</a></li>
        <li><a class="" href="breadcrumbs.html">Breadcrumbs</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Buttons</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="buttons.html">Buttons</a></li>
        <li><a class="" href="button-groups.html">Button Groups</a></li>
        <li><a class="" href="dropdown-buttons.html">Dropdown Buttons</a></li>
        <li><a class="" href="split-buttons.html">Split Buttons</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Forms</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="forms.html">Forms</a></li>
        <li><a class="" href="custom-forms.html">Custom Forms</a></li>
        <li><a class="" href="switch.html">Switch</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Typography</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="type.html">Type</a></li>
        <li><a class="" href="inline-lists.html">Inline Lists</a></li>
        <li><a class="" href="labels.html">Labels</a></li>
        <li><a class="" href="keystrokes.html">Keystrokes</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">CSS Components</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="global.html">Global Styles</a></li>
        <li><a class="" href="alert-boxes.html">Alert Boxes</a></li>
        <li><a class="" href="panels.html">Panels</a></li>
        <li><a class="" href="pricing-tables.html">Pricing Tables</a></li>
        <li><a class="" href="progress-bars.html">Progress Bars</a></li>
        <li><a class="" href="tables.html">Tables</a></li>
        <li><a class="" href="thumbnails.html">Thumbnails</a></li>
        <li><a class="" href="flex-video.html">Flex Video</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="#">Javascript</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="clearing.html">Clearing</a></li>
        <li><a class="" href="dropdown.html">Dropdown</a></li>
        <li><a class="" href="joyride.html">Joyride</a></li>
        <li><a class="" href="magellan.html">Magellan</a></li>
        <li><a class="" href="orbit.html">Orbit</a></li>
        <li><a class="" href="reveal.html">Reveal</a></li>
        <li><a class="" href="section.html">Section</a></li>
        <li><a class="" href="tooltips.html">Tooltips</a></li>
      </ul>
    </div>
  </section>
  <section class="section ">
    <p class="title"><a href="../faq.html">FAQ</a></p>
  </section>
  <section class="section ">
    <p class="title"><a href="../support.html">Support</a></p>
  </section>
</div>
{% endblock %}